/* ===== Global Styles ===== */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: transparent;
  text-decoration: none;
  color: black;
}
/*  n*/
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

body {
  scroll-snap-type: y mandatory;
  position: absolute;
  background-size: auto;
  background: url("./Shhhc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* ===== Navigation & Header ===== */
nav,
a {
  color: white;
  background-color: transparent;
}

a {
  transition: transform 0.2s ease;
}

nav {
  height: 45px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header {
  margin-top: 7vh;
  position: fixed;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  background-color: black;
  width: 60vw;
  min-width: 300px;
}

/* ===== Home Section ===== */
.home {
  scroll-snap-align: center;
  background: transparent;
  display: flex;
  gap: auto;
  justify-content: space-between;
  height: 50%;
  margin: 10vh;
  margin-bottom: 20vh;
  margin-top: 20vh;
  margin-left: 20vh;
  padding: 7vh;
  font-size: 30px;
}

.cont {
  width: 34vw;
}

span.bold {
  font-weight: bold;
}

/* Social media links */
div.social-media-links {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-bottom: 20px;
}

div.social-media-links > a {
  color: black;
  text-align: center;
  display: inline;
  padding: 5px;
  width: 40px;
  border-radius: 50%;
  border: 2px black solid;
}

/* Home section image */
.image {
  background: transparent;
  width: 30vw;
  margin-right: -50px;
}

.image > img {
  border: 1px black solid;
  float: right;
  border-radius: 10px;
  height: 380px;
  width: 280px;
  background-color: transparent;
}

/* Buttons */
.see,
button {
  border: none;
  color: white;
  padding: 8px;
  border-radius: 10px;
  background-color: black;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.name {
  text-align: left;
  margin-left: -100px;
  width: 180px;
}

/* ===== About Section ===== */
#about {
  padding: 10vh;
  display: flex;
  flex-direction: row;
  gap: 10em;
  padding-top: 30vh;
  scroll-snap-align: center;
  background-color: white;
  width: 100%;
  height: 70%;
}

/* About section image */
.image2 {
  background: transparent;
}

.image2 > img {
  border: 1px black solid;
  margin-right: 1em;
  border-radius: 10px;
  height: 380px;
  width: 280px;
  background-color: transparent;
}

/* About text content */
.para > p {
  width: 80%;
  min-width: 40vh;
  font-size: 24px;
}

.para1,
.para2 {
  display: none;
}

h2 {
  font-size: 34px;
}

/* Accent color */
.me {
  color: rgb(40, 3, 75);
}

/* Link hover effects */
a.me:hover,
a:hover {
  transform: scale(1.2) rotate(5deg);
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

em {
  font-weight: 500;
}

/* Show Less button styling */
.show-less {
  border-radius: 10px;
  border: 2px solid black;
  color: black;
  background-color: white;
  font-size: 20px;
}

/* ===== Project Section ===== */
#project {
  padding: 20vh;
  scroll-snap-align: center;
  height: 100%;
  background-color: white;
}

.h1-project {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 34px;
  margin-bottom: 10vh;
}

/* Project card */
.project-container {
  gap: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-container {
  transition: transform ease 0.3s;
  position: relative;
  height: 280px;
  width: 280px;
  min-width: 280px;
}

.image-container > img {
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Overlay text on hover */
.overley-text {
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    to top,
    rgba(5, 10, 0, 0.91),
    rgba(0, 0, 0, 0.082)
  );
  padding: 5px;
  position: absolute;
  top: 0;
  color: white;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  margin-top: 15%;
  color: white;
  text-align: center;
}

/* See More button */
.project-see-more {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 45%;
  bottom: 30px;
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;
  color: white;
  transition: transform ease 0.5s;
}

.project-see-more > * {
  background: transparent;
  color: white;
}

/* See Less button */
.project-see-less {
  width: 50px;
  display: flex;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  background: transparent;
  color: black;
  transition: transform ease 0.5s;
  justify-self: center;
  padding: 13px;
}

.project-see-less > * {
  background: transparent;
  color: black;
}

/* Project description sections */
.environmental,
.octave,
.smart-home,
.web-streaming {
  display: none;
}

.des {
  margin: 2vh;
}

.h3 {
  text-align: left;
  color: black;
  margin: 3vh;
}

.fa-solid {
  pointer-events: none;
}

/* ===== Contact Section ===== */
#contact {
  scroll-snap-align: center;
  background-color: white;
}

#contact > h1 {
  margin-top: 0;
  text-align: center;
}

/* Contact form styling */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}

input {
  padding-left: 15px;
  border-radius: 5px;
  height: 40px;
  width: 40vh;
  min-width: 40px;
  box-shadow: 0px 0px 3px 0px grey;
  border: none;
}

.form-p {
  gap: 0.5em;
  padding: 10px;
  display: flex;
  align-self: center;
  flex-direction: row;
  width: auto;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

form > button,
form > textarea {
  display: inline;
}

.form-p > button {
  background-color: white;
  color: black;
  width: 20vh;
  border: 2px solid black;
  transition: border-top ease 0.3s;
}

textarea {
  padding-top: 10px;
  padding-left: 15px;
  resize: none;
  border-radius: 5px;
  width: 85vh;
  border: none;
  height: 32vh;
  box-shadow: 0px 0px 3px 0px grey;
}

.form-p > button:hover {
  border-top: none;
}

/* ===== Animation Utilities ===== */
.animate {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: transform, opacity;
}

/* Animation slide directions */
.animate.slide-left {
  transform: translateX(-40vw);
}

.animate.slide-right {
  transform: translateX(50vw);
}

.animate.slide-up {
  transform: translateY(-40vh);
}

.animate.slide-down {
  transform: translateY(50vh);
}

/* Animation show state */
.animate.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

/* ===== Hover Effects ===== */
.project-see-more:hover {
  border: 4px solid white;
  transform: scale(1.1);
}

.image-container:hover {
  transform: scale(1.1);
}

.image-container:hover .overley-text {
  opacity: 1;
  pointer-events: auto;
}

/* ===== Accessibility ===== */
@media (prefers-reduced-motion: reduce) {
  .animate,
  .animate.show {
    transition: none !important;
    transform: none !important;
    opacity: 1 !important;
  }
}

/* ===== Tablet Breakpoint (max-width: 1011px) ===== */
@media (max-width: 1011px) {
  .home {
    padding: 0;
    padding-top: 7em;
    margin-left: 3em;
  }

  .header {
    z-index: 1;
    margin: 0;
    width: 100%;
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  #about,
  #home,
  #project {
    height: fit-content;
    min-height: 70vh;
  }

  #about {
    padding: 0;
    padding-top: 67px;
    gap: 5em;
  }

  body {
    scroll-snap-type: y proximity;
  }

  #project {
    padding: 1em;
    padding-top: 15em;
  }

  input {
    width: 50%;
    min-width: 70px;
  }

  textarea {
    width: 100%;
    min-width: 78px;
  }

  #contact {
    padding: 0;
  }

  .form-p {
    width: 80%;
  }

  #contact > h1 {
    margin-top: 20px;
  }
}

/* ===== Mobile Breakpoint (max-width: 650px) ===== */
@media (max-width: 650px) {
  body {
    scroll-snap-type: proximity;
  }
  .home {
    margin: 1em;
    margin-top: 0;
    padding: 0;
    padding-top: 7em;
  }

  .image {
    display: none;
  }

  .cont {
    width: fit-content;
  }

  #about {
    gap: 10px;
    padding-left: 16px;
    flex-direction: column;
  }
}
